input:-webkit-autofill {
    /* Dùng để thay đổi khi nhập input đề xuất không bị nền xanh */
    -webkit-box-shadow: 0 0 0px 1000px #f3fffe inset;
    -webkit-text-fill-color: #d9d9d9;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0;
    position: relative;

    textarea {
        min-height: 80px;
    }

    input,
    textarea {
        color: #2a534f;
        caret-color: #008944; //Màu dấu nháy
        font-size: 100%;
        padding: 0.8em;
        outline: none;
        border: 2px solid rgb(200, 200, 200);
        background-color: transparent;
        border-radius: 20px;
        width: 100%;

        &:focus {
            border-color: #d9d9d9;

            ~label {
                color: #2a534f;
                transform: translateY(-50%) scale(0.8);
                margin: 0;
                margin-left: 1.3em;
                padding: 0.3em;
                background-color: transparent;
                background: #f3fffe;
            }
        }

        &.has-value {
            border-color: #d9d9d9;

            ~label {
                color: rgb(100, 100, 100);
                transform: translateY(-50%) scale(0.8);
                margin: 0;
                margin-left: 1.3em;
                padding: 0.3em;
                background-color: transparent;
                background: #f3fffe;
            }
        }
    }

    .eye-icon {
        color: rgb(200, 200, 200);
        font-size: larger;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    label {
        font-size: 100%;
        position: absolute;
        left: 0;
        padding: 0.8em;
        margin-left: 0.5em;
        pointer-events: none;
        transition: all 0.3s ease;
        color: rgb(100, 100, 100);
    }
}

.form-select {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;

    &:focus {
        border-color: #d9d9d9;
        outline: 0;
        box-shadow: 0 0 0 .25rem #c4efca;
    }

    &.has-value {
        border-color: #d9d9d9;
    }
}